/* styles.css */

@font-face {
    font-family: Garamondt;
    src: url(Garamondt-Regular.woff);
  }
  
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    margin: 32px 32px;
    text-rendering: optimizeLegibility;
    background-image: url("Background-3.gif");
    background-attachment: fixed;
    background-size: 10000px;
}

h1 {
    color: #435060;
    text-shadow: 3px 3px 0px #f5f5f5, -3px -3px 0px #f5f5f5;
    font-family: Rubik Puddles;
    font-size: 200px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;

}

p {
    text-indent: 50px;
    color: #435060;
    text-shadow: -3px -3px 4px #F5F5F5, 1px 1px 4px #F5F5F5;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
}
p::first-letter {
    font-size: 400%;
    font-family: Garamondt;
  }

a {
    color: #FF8E91;
    text-shadow: 3px 3px 4px #435060, -1px -1px 4px #435060;
    font-family: Roboto;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}

ul {
    color: #F5f5f5;
font-family: Roboto;
font-size: 16px;
font-style: italic;
font-weight: 600;
line-height: normal;
text-decoration-line: underline;
}

header {
    margin-bottom: 50px;
    max-width: 725px;    
}

footer {
    display: grid;
  grid-template-columns: auto auto;
}