/* styles.css */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
}

h1 {
    color: black;
    text-align: center;
}

p {
    color: black;
}

a {
    color: blue; /* Link color */
    text-decoration: underline; /* Underline link text */
}
img {
    max-width: 100%; /* Set the image to a maximum width of 100% of its container */
    display: block; /* Centers the image horizontally within its container */
    margin: 0 auto; /* Centers the image horizontally within its container */
}